.row{
	margin-top:20px;
}

blockquote{
	border-left: 5px solid #2ccedc;
}

.navbar-default {
	background-color : #e8ecff;
}

.breadcrumb > li + li::before {

    padding: 0 5px;
    color: #000;
    content: " - ";

}

p {
	font-size:2em;
}

strong{
	font-size:2em;
}